<div id="avatarHolder" class="media-left">
    <img class="media-object" id="avatar" src=<%= user.photo %>>
</div>
<div id="userInfo">
    <span class="label">First Name: </span>
    <span id="firstName"><%= user.firstName %></span><br>
    <span class="label">Last Name: </span>
    <span id="lastName"><%= user.lastName %></span><br>
    <span class="label">Date of birth: </span>
    <span id="dateOfBirth"><%= user.dateOfBirth %></span><br>
    <span class="label">E-Mail: </span>
    <span id="email"><%= user.email %></span><br>
    <br>
    <button id="editBtn">Edit User</button>
</div>